<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ data.site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% for sheet in data.site.css %}
    <link rel="stylesheet" href="{{ sheet }}">
    {% endfor %}
</head>

<body>
    <header>
        <p><a href="https://samliebl.com/work/skills.html">&larr; Back to Skills</a></p>
        <p><a href="https://samliebl.com">&larr; Back to samliebl.com</a></p>
        <h1>Web App Demonstration</h1>
        <p>Find the source code on <a href="https://github.com/samliebl/web-app">GitHub</a>.</p>
        <nav>
            <h3>Here’s the content of this site:</h3>
            <ol>
                <li><a href="#test-get">Rendering site with <code>GET</code> API call/request</a></li>
                <li><a href="#test-post">Two Demonstrations of POST API call/requests</a>
                    <ol>
                        <li><a href="#test-post-simple"><code>POST</code> API call/request demonstration</a></li>
                        <li><a href="#test-post-whisper">A more complex <code>POST</code> API call/request with Whisper by OpenAI</a></li>
                    </ol>
                </li>
                <li><a href="#client-side-javascript">Note on the client-side JavaScript</a></li>
            </ol>
        </nav>
    </header>
    <hr>
    <main>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <!-- footer content -->
    </footer>
    {% for script in data.site.js %}
    <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
    <script type="text/javascript">
    hljs.highlightAll();
    </script>
</body>

</html>