<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ data.site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <header>
        <p><a href="https://samliebl.com/work/skills.html">&larr; Back to Skills</a></p>
        <p><a href="https://samliebl.com">&larr; Back to samliebl.com</a></p>
        <h1>Web App Demonstration</h1>
        <p>Find the source code on <a href="https://github.com/samliebl/web-app">GitHub</a>.</p>
        {% include "_partials/nav.njk" %}
    </header>
    <hr>
    <main>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <hr>
    <footer>
        <h4>Acknowledgments:</h4>
        <ul>
            <li><a href="https://watercss.kognise.dev/">Water.css</a> by <a href="https://kognise.dev/">Kognise</a></li>
            <li><a href="https://expressjs.com/">Express</a></li>
            <li><a href="https://openai.com/index/whisper/">Whisper</a> by OpenAI</li>
            <li><a href="https://rsms.me/inter/">Inter</a> by <a href="https://rsms.me/about/">Rasmus Andersson</a></li>
            <li><a href="https://nodemon.io">nodemon</a> by <a href="https://remysharp.com">Remy Sharp</a>, an indispensable tool for almost any development project.</li>
        </ul>
    </footer>
    <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>