<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ data.site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/tachyons.min.css">
</head>

<body>
    <header>
        <!-- header content -->
    </header>
    <main>
        <div class="pa2 sans-serif lh-copy">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <!-- footer content -->
    </footer>
    <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>