{% extends "_layouts/base.njk" %}
{% block content %}
<!-- Section: outlining the GET response -->
<section id="get-render">
    {% include "_partials/get-render.njk" %}
</section>
<hr>
<!-- Section: test POST request -->
<h2 id="test-post">Three demonstrations of <code>POST</code> API call/requests</h2>
<!-- Section: simple POST request demonstration -->
<section id="post-simple">
    {% include "_partials/post-simple.njk" %}
</section>
<hr>
<!-- Section: test Whisper POST request -->
<section id="post-whisper">
    {% include "_partials/post-whisper.njk" %}
</section>
<hr>
<!-- Section: Twilio Lookup -->
<section id="post-lookup">
    {% include "_partials/lookup-form.njk" %}
</section>
<br>
<hr>
<!-- Client-side Javascript -->
<section id="client-side-js">
    {% include "_partials/client-side-js.njk" %}
</section>
<!-- Section: acknowledgments -->
<section>
    {% include "_partials/notes.njk" %}
</section>
{% endblock %}