<h3>3: <code>POST</code> call lookup using Twilio</h2>
<p>Enter in a telephone number to find out its carrier.</p>
<form id="lookupForm" action="/lookup" method="POST">
    <label for="phoneNumber">Enter Phone Number:</label>
    <input type="text" id="phoneNumber" name="phoneNumber" placeholder="+15555555555" required>
    <button type="submit">Lookup</button>
</form>

<div id="lookupResult"></div>
