{# Site navigation bar #}
<nav>
    <h3>Here’s the content of this site:</h3>
    <ol class="list">
        <li><a href="#get-render">Rendering site with <code>GET</code> API call/request</a></li>
        <li><a href="#post-section">Three Demonstrations of <code>POST</code> API call/requests</a>
            <ol>
                <li><a href="#post-simple"><code>POST</code> API call/request demonstration</a></li>
                <li><a href="#post-whisper">A more complex <code>POST</code> API call/request with Whisper by OpenAI</a></li>
                <li><a href="#post-lookup">A <code>POST</code> API call/request to lookup carrier information using Twilio</a></li>
            </ol>
        </li>
        <li><a href="#client-side-js">Note on the client-side JavaScript</a></li>
    </ol>
</nav>