{# Final "Notes" section for footnotes in main index.njk page #}
<h4>Notes</h4>
<ol>
    <li>AJAX (Asynchronous JavaScript and XML) is a way to (among many other things) go back and forth with servers in such a way that it allows parts of a page to <em>update without a full reload.</em> In this application, AJAX handled the “form submissions” (uploading that file and returning the transcription). When you submitted that form, AJAX shot it to the server in the background. While nobody was looking 😆, the page updated dynamically and it was just right there! The simple <code>POST</code> demo above still works this way; the transcription one is disabled.</li>
</ol>